/* HTML */
#text{
    height: 200px;
    width: 100%;
    resize:none;
    font-size: 2em;
}
#count{
    text-align: right;
}
/* LIVE */
#text-live{
    font-size: 2em;
}
#img{
    width: 50px;
    transform: translate(180px,-60px);
    visibility: hidden;
}

/* PROGRESS BAR */
.progress-container {
    height: 1.2rem;
    width: 100%;
    border-radius: 0.4rem;
  
    background: #000;
}
#progress-bar {
    height: 100%;
    width: 0;
    border-radius: 0.4rem;
  
    background: #18DC54;
    /* transition: width 0.5s ease, background-color 0.5s ease
} */